<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body text="red">-->
<!--<h3>-->
<!--    <b>-->
<!--    ЭТО ШАБЛОН ДЛЯ ФУНКЦИОНАЛЬНОГО ПРЕДСТАВЛЕНИЯ-->
<!--    </b>-->
<!--</h3>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Function Template</title>
</head>
<body text="blue">
    <h1><b>Это шаблон для функционального представления</b></h1>
</body>
</html>