<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body text="blue">
<h1><i>{{text}}</i></h1>
<h1><i>{{text1}}</i></h1>
<ul>
    <li><h2><i>{{text2}}</i></h2><button><h2>{{text6}}</h2></button></li>
    <li><h2><i>{{text3}}</i></h2><button><h2>{{text6}}</h2></button></li>
</ul>
<button><h2>{{text5}}</h2></button>
<br><button><a href="http://127.0.0.1:8000/task3" style="text-decoration: none;"><h2>{{text4}}</h2></a></button></br>
</body>
</html>